* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-image: url(../images/SplatterSmearHorz0008_L.jpg);
}

.nav-container {
	width: 100%;
	background-color:#DBDBDB;
	height: 5em;
	margin-bottom: 15px;
}

p {
	margin-top: 0;
	padding-top: 15px;
	font-size:24px;
	font-weight: 500;
	text-transform: uppercase;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

@media only screen and (min-width: 22.6875em) {
	
	p {
		padding-left: 5px;
		padding-right: 5px;
	}

}

@media only screen and (min-width: 23.875em) {
	
	.nav-container {
		height: 3.5em;
	}

}

@media only screen and (min-width: 29.9375em) {
	
	p {
		font-size: 36px;
	}
	
	.nav-container {
		height: 7em;
	}

}

@media only screen and (min-width: 34.875em) {
	
	.nav-container {
		height: 5em;
	}

}

form {
	float: left;
}

label {
	display:block;
	cursor: pointer;
}

input + label {
	display: inline;
}

input {
	font-size: 1rem;
}

input[type="radio"],
input[type="checkbox"] {
	cursor: pointer;
}

.input-text {
	font-size: 1rem;
	border: 1px solid #ccc;
	padding: 0.5em;
	background-image: linear-gradient(to bottom, #efefef, #fff);
	border-radius: 2px;
	width: 100%;
}

fieldset {
	width: 100%;
}

textarea {
	max-width: 100%;
	height: 7em;
	margin-top: 5px;
}

button {
	font-size: 16px;
	padding: 0.5em;
	border-radius: 10px;
	border: 2px solid #f33;
	background-image: linear-gradient(to bottom, #f33, #f33);
	color: #fff;
	cursor: pointer;
}

.error {
	color: #f33;
	display: block;
}

.input-error {
	border: 3px solid #f33;
}